{% extends "rental/base.html" %}
{% load i18n %}
{% block body_block %}

    <h1>{% trans "Your rented cars" %}</h1>

    {% if cars_list %}
    <ol>

      {% for car in cars_list %}
      <li>
        <a href="{{ car.get_auto_absolute_url }}">{{ car.car_mark }} {{car.car_model}}</a> {{ car.car_issue_year }}
        <p>{% trans "Rented" %}: {{ car.car_rent_date }}</p>
      </li>
      {% endfor %}

    </ol>
    {% else %}
      <p>{% trans "You have no rented cars" %}</p>
    {% endif %}
{% endblock %}
